.pro-gradient {
    background: linear-gradient(to right, #4286f4, #373b44);
    padding: 15px;
    border-radius: 10px;
    color: white;
}
.con-gradient {
    background: linear-gradient(to right, #373b44, #f45c42);
    padding: 15px;
    border-radius: 10px;
    color: white;
}